<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mbenben.studydemo">

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".layout.nav.NavActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".net.okhttp.OkHttpDemoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity android:name=".AboutMeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.canvasapi.CanvasApiActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".anim.swipbackhelper.activity.Swipe1Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".anim.swipbackhelper.activity.SwipeBackActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".anim.swipbackhelper.activity.SwipeRLVActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".anim.swipbackhelper.activity.SwipeVPActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".layout.recyclerview.changerlv.RLVChangeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".layout.nav.scroller.ScrollActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".net.httpurl.HttpUrlAcitvity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".net.retrofit.RetrofitActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".layout.nestedscroll.NestedScrollActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".basenote.pattern.PatternActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.fanmenu.FanMenuActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.renkstar.RenkStarActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.colorpickerView.ColorPickerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".basenote.styleimageview.StyleImageViewActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".layout.guideview.activity.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".layout.guideview.activity.FragActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".layout.guideview.activity.FullActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".layout.photowall.PhotoWallActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".layout.guideview.activity.MyListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".layout.guideview.activity.SimpleGuideViewActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".layout.guideview.activity.ViewActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".layout.overscroll.activity.OverScrollDemoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".layout.viewpager.ali.activity.AliUPVDemoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".layout.viewpager.ali.activity.AliViewPagerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.pintu.PinTuActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.switchbutton.SwitchButtonActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".basenote.plugin.PluginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".layout.indicator.IndicatorActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".layout.recyclerview.sticky.view.MainStickyActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--android:hardwareAccelerated="false"-->
        <activity
            android:name=".layout.recyclerview.sticky.view.NormalActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".anim.lodinganim.LoadingAnimActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".anim.camera.CameraAnimActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".layout.recyclerview.sticky.view.BeautifulRecyclerViewActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".layout.recyclerview.sticky.view.PowerfulStickyRecyclerViewActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity android:name=".layout.chanelview.ChanelActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".layout.recyclerview.sticky.view.StickyRecyclerViewActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.timer.CountDownActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.timer.TimerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".layout.drawerlayout.DrawerLayoutActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".layout.recyclerview.RecyclerView2Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.bezier.ClearBezierActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".layout.viewpager.ViewPagerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".layout.swipecards.SwipeCardsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.healthytables.HealthyTablesActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".layout.ele.EleViewPagerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".layout.ele.EleMainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.credit.CreditActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.weibosport.WeiBoSportActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.qqhealth.QQHealthActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.select.SelectActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.chart.ChartActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.lol.LoLActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.pathview.PathViewActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".annotation.MyButterKnifeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".net.httpurl.POSTRlvActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".net.retrofit.RetrofitPostActiviy"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".net.rxjava.RxJavaActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.bezier.GiftBezierActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".anim.ValueAnimActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.pathview.svgpath.SVGPathActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.wave.WaveActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".layout.recyclerview.RecyclerView1Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".layout.recyclerview.RecyclerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".layout.recyclerview.RecyclerView3Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".layout.gradationtitle.QQTitleActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.viscosity.ViscosityActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.expandabletextview.ExpandableActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".layout.arclayout.ArcLayoutActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".layout.flowlayout.MultiLineChooseActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".layout.ricktext.NewEmojiActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".layout.ricktext.RickTextActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".layout.ricktext.UserListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.enviews.ENViewsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.progressbar.ProgressBarActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.htmltext.HtmlTextActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.bigimage.GlideLoaderActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".layout.recyclerview.RecyclerView4Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.passwordedittext.PassWordActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".layout.radarscan.RadarScanActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".layout.recyclerview.others.refreshLoad.RefreshLoadActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".layout.recyclerview.others.commonAdapterUse.CommonAdapterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".layout.recyclerview.others.headerFooterUse.HeaderFooterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".layout.recyclerview.others.dragItemAnimatorUse.DragItemAnimatorActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.behavior.BehaviorActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".layout.videoplayer.VideoPlayerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.circle.CircleActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".layout.fragmenttabhost.TabActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".basenote.contentprovider.ContentProviderActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".basenote.broadcastreceiver.BroadcastReceiverActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".layout.bottomnavigationview.BottomNavigationViewActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".layout.newbottomnav.BottomNavMainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".layout.materialdesign.MaterialDesignActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.loading.LoadingTextViewActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.justify.JustifyTextActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.toast.NewToastActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.timelytext.TimelyTextActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".layout.intercepttouchevent.InterceptActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".basenote.service.ServiceActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".basenote.service.download.DownLoadServiceActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".layout.expandableviewpager.ExpandableViewPagerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".layout.graffiti.DrawingBoardActvity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".anim.circularanim.CircleAnimActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".anim.circularanim.CircleAnimListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.couponview.CouponViewActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.floatingview.FloatViewActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".layout.horizontalscrollview.HorizontalScrollActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".basenote.permission.PermissionActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".basenote.opencamera.OpenCameraActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".basenote.intent.IntentActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".layout.esaysidebar.SortCityActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".layout.pickerview.PickerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".layout.pickerview.JsonDataActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".basenote.scaniamges.imageloader.ScanImageActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".SearchRlvActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".layout.drawerlayout.my.SlidingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.radar.RadarViewActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.shader.ShaderActivity"
            android:launchMode="singleTask" />

        <activity
            android:name=".layout.swipmenu.SwipMenuActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".layout.materialdesign.coordinatorlayouttest.UCActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.horizontalselectedview.HorizontalselectedActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".layout.recyclerview.refresh2.RefreshLoad2Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.tantan.TantanActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.verifycode.VerifyCodeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".basenote.notification.NoBackStackActivity"
            android:taskAffinity=""
            android:launchMode="singleTask"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".basenote.notification.BackStackActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <activity
            android:name=".basenote.dialog.MyDialogActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".basenote.navigationbar.NavigationBarActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.calendar.CalendarActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity android:name=".view.dianzan.DianZanActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name=".view.misportsconnectview.MiSportViewActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity android:name=".basenote.notification.NotificationActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name=".basenote.lockscreen.LockScreenActivity"
            android:screenOrientation="portrait"
            android:taskAffinity=""/>

        <activity android:name=".view.ruffle.RuffleActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <!-- android:exported="false"禁止其他App使用这个组件 -->
        <activity
            android:name=".basenote.intent.TwoIntentActivity"
            android:exported="false"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="to_start_two_intent" />
                <category android:name="to_start_two_intent_by_category" />
                <!-- 官方：此句话必须存在 -->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".basenote.service.downloadfile.ui.DownloadFile2Activity"
            android:launchMode="singleTask" />
        <activity
            android:name=".basenote.service.downloadfile.ui.DownLoadFileStartActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".basenote.service.downloadfile.ui.DownloadFileActivity"
            android:launchMode="singleTask" />

        <receiver android:name=".basenote.broadcastreceiver.BC1">
            <intent-filter android:priority="100">
                <action android:name="BC_One" />
            </intent-filter>
        </receiver>
        <receiver android:name=".basenote.broadcastreceiver.BC2">
            <intent-filter android:priority="200">
                <action android:name="BC_One" />
            </intent-filter>
        </receiver>

        <service android:name=".basenote.service.MyStartService" />
        <service android:name=".basenote.service.MyBindService" />
        <service android:name=".basenote.service.download.DownLoadService" />
        <service android:name=".basenote.service.downloadfile.service.DownloadService" />
        <service android:name=".basenote.service.downloadfile.service.DownloadService2" />
        <service android:name=".basenote.service.MyMessagerService" />

        <service android:name=".basenote.lockscreen.LockScreenService"/>
        <!-- 针对android7.0（24）的一些异常 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.mbenben.studydemo.mytest"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>