<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mbenben.studydemo">

    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".App"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".layout.nav.NavActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".net.okhttp.OkHttpDemoActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".view.canvasapi.CanvasApiActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".layout.nav.scroller.ScrollActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".net.httpurl.HttpUrlAcitvity"
            android:launchMode="singleTask"/>
        <activity android:name=".net.retrofit.RetrofitActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".layout.nestedscroll.NestedScrollActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".view.pintu.PinTuActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".layout.indicator.IndicatorActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".layout.drawerlayout.DrawerLayoutActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".layout.recyclerview.RecyclerView2Activity"
            android:launchMode="singleTask"/>
        <activity android:name=".view.bezier.ClearBezierActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".layout.viewpager.ViewPagerActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".layout.swipecards.SwipeCardsActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".view.healthytables.HealthyTablesActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".layout.ele.EleViewPagerActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".layout.ele.EleMainActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".view.credit.CreditActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".view.weibosport.WeiBoSportActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".view.qqhealth.QQHealthActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".view.select.SelectActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".view.chart.ChartActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".view.lol.LoLActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".view.pathview.PathViewActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".annotation.MyButterKnifeActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".net.httpurl.POSTRlvActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".net.retrofit.RetrofitPostActiviy"
            android:launchMode="singleTask"/>
        <activity android:name=".net.rxjava.RxJavaActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".view.bezier.GiftBezierActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".anim.ValueAnimActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".view.pathview.svgpath.SVGPathActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".view.wave.WaveActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".layout.recyclerview.RecyclerView1Activity"
            android:launchMode="singleTask"/>
        <activity android:name=".layout.recyclerview.RecyclerActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".layout.recyclerview.RecyclerView3Activity"
            android:launchMode="singleTask"/>
        <activity android:name=".layout.gradationtitle.QQTitleActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".view.viscosity.ViscosityActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".view.expandabletextview.ExpandableActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".layout.arclayout.ArcLayoutActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".layout.multilinechoose.MultiLineChooseActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".layout.ricktext.NewEmojiActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".layout.ricktext.RickTextActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".layout.ricktext.UserListActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".view.enviews.ENViewsActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".view.progressbar.ProgressBarActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".view.htmltext.HtmlTextActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".view.bigimage.GlideLoaderActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".layout.recyclerview.RecyclerView4Activity"
            android:launchMode="singleTask"/>
        <activity android:name=".view.passwordedittext.PassWordActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".layout.radarscan.RadarScanActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".layout.recyclerview.others.refreshLoad.RefreshLoadActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".layout.recyclerview.others.commonAdapterUse.CommonAdapterActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".layout.recyclerview.others.headerFooterUse.HeaderFooterActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".layout.recyclerview.others.dragItemAnimatorUse.DragItemAnimatorActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".view.behavior.BehaviorActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".layout.videoplayer.VideoPlayerActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".view.circle.CircleActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".layout.fragmenttabhost.TabActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".basenote.contentprovider.ContentProviderActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".basenote.broadcastreceiver.BroadcastReceiverActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".layout.bottomnavigationview.BottomNavigationViewActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".layout.newbottomnav.BottomNavMainActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".layout.materialdesign.MaterialDesignActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".view.loading.LoadingTextViewActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".view.justify.JustifyTextActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".view.toast.NewToastActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".view.timelytext.TimelyTextActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".layout.intercepttouchevent.InterceptActivity"
            android:launchMode="singleTask"/>


        <receiver android:name=".basenote.broadcastreceiver.BC1" >
            <intent-filter
                android:priority="100">
                <action android:name="BC_One" />
            </intent-filter>
        </receiver>
        <receiver android:name=".basenote.broadcastreceiver.BC2" >
            <intent-filter
                android:priority="200">
                <action android:name="BC_One" />
            </intent-filter>
        </receiver>
        <service android:name=".basenote.service.MyStartService"/>
        <service android:name=".basenote.service.MyBindService"/>
    </application>

</manifest>